<h2>LEADERBOARD</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">NAMA</th>
        <th scope="col">POINT</th>
        <th scope="col">KETERANGAN</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>TANU WIJAYA</td>
        <td>20</td>
        <td>-</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>TANU WIJAYA</td>
        <td>19</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
