<h2>PROFILE</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">USERNAME</th>
        <th scope="col">NAMA</th> 
        <th scope="col">JENIS KELAMIN</th>
        <th scope="col">KOTA</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>tanu</td>
        <td>TANU WIJAYA</td>
        <td>PRIA</td>
        <td>SAMBAS</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>robin</td>
        <td>ROBINHOOD</td>
        <td>PRIA</td>
        <td>NDAK TAU</td>
      </tr>
    </tbody>
  </table>